.image-style {
    height: 80px;
    width: 48%;
    margin-left: 2%;
    margin-bottom: 3px;
    background-color: rgb(231, 231, 231);
}

.custom-text-blue {
    color: #3445b4
}

.custom-btn-blue {
    background-color: #3445b4
}

.custom-border-blue {
    border-color: #3445b4
}

.custom-border-blue:hover{
    background-color: #3445b4;
}
