.list-container {
    margin-right: auto;
    width: 400px;
    border-width: 1px;
    border-color: red;
}

.location-search-input {
    align-self: center;
    width: 100%;
    color: rgba(0, 0, 0,0.87);
    border-radius: 6px;
    border-color: white;
    border-width: 0;
    padding-left: 10px;
    padding-top: 7px;
    padding-bottom: 7px;
    height: 50px !important;
    font-weight: 500;
}

input {
    border-width: 1px !important;
    border-color: black !important;
}
